.conte1
{ 

width: 100%;

height: 200px;

text-align: center;

font-size: 40px;

background-color: aqua 



}

.conte2
{ 

width: 100%;
    
height: 200px;

background-color: rgb(204, 0, 255) 
    
}

.conte3
{ 

width: 100%;
        
height: 200px;

background-color: rgb(255, 0, 170) 
        
}

